body{
  background-color: #90D26D;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 23px;
  margin-top: 25px;
}
button{
  width: 40px;
  height: 40px;
  margin: 10px;
  background-color: white;
}
#container{
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  outline: 2px solid #342B2B;
  border: 4px solid #62BD32;
} /*contenedor break & session*/
.text{
  width: 200px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
#button-cont{
  display: flex;
  flex-direction: row;
  padding: 5px;
}

/*Contador*/

.elements{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
#counter-display{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px 18px;
  width: 400px;
  height: 270px;
  border-radius: 8px;
  outline: 2px solid #342B2B;
  border: 4px solid #62BD32;
}
#time-left{
  font-size: 70px;
  margin: 30px 0px;
}